

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



footer #redhat {
    display: inline-block;
    background: url(http://feedhenry.org/assets/images/redhat.svg) no-repeat center;
    width: 5.35rem;
    height: 1.44rem;
}













